name: Publish
on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with: 
          deno-version: v2.x

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A

      - name: Build js version
        run: deno task ts2js

      - name: Replace .ts with .js
        run: deno task changeExtension

  publish-npm: 
    needs: [unit-tests]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with: 
          deno-version: v2.x

      - name: Build js version
        run: deno task ts2js

      - name: Replace .ts with .js
        run: deno task changeExtension

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm publish ./npm --provenance --access public 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}


  publish-jsr:
    needs: [unit-tests]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

